
<!DOCTYPE html>
<html>
    <!-- Head -->
    <head>
    <title>{{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Files -->
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.rawgit.com/TheStickyNote/Assets/524f4be682beff8b1db17421f6039d090593895b/stylesheets/main.css" type="text/css">

    <!-- Javascript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
    
    <body style="background-color:#F3F8FC">
        <!-- Navbar -->
            <nav  class="navbar navbar-custom navbar-fixed-top">
    
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <brand class="sr-only"></brand>
                        <brand class="icon-bar"></brand>
                        <brand class="icon-bar"></brand>  
                        <brand class="icon-bar"></brand>
                    </button>
                    
                    <a class="navbar-brand" href="/">{{appname}} </a>
                </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="menubar" href="/">Home</a></li>
             {% for item in menu_items %}
<li><a class="menubar" href=/{{item.slug}}>{{item.name}}</a></li>
{% endfor %}

                       
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
</div>
    </nav>
        <!-- Left Side Bar -->
        <div style="background-color:#F3F8FC;" class="col-lg-2 col-md-2 col-sm-2 mobile-hide" ><!-- Not Displayed on Mobile -->
            <div class="fotd">
                <div class="fotd-title">
                    <h4>Fact Of The Day</h4>
                </div>
           {{widget1}}
            </div>
    
            <div class="twitter mobile-hide">
                <a class="twitter-timeline" href="https://twitter.com/TheStickyNoteEd" data-widget-id="722809724224151554">Tweets by @TheStickyNoteEd</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                
            </div>
       </div>
       <!-- Page Contents -->

<!-- Center Content -->
    <div style="margin-top:30px" class="col-lg-6 col-sm-6 ">
        <h2 class="title">{{pagetitle}}</h2>

 <ul class="stickynote">
                {% for post in posts %}
                <li class="stickynote">
                    <a href={{post.full_url}} class="stickynote">
                        {{post.title}}
                    </a>
                </li>
                {% endfor %}

{% for page in pages %}
                <li class="stickynote">
                    <a href={{page.slug}} class="stickynote">
                        {{page.name}}
                    </a>
                </li>
                {% endfor %}


          
            </ul>

    </div>

   
   
   

    <div style="background-color:#F3F8FC;" class="col-lg-4 col-sm-4">
       <h3 class ="content title center">About This Section</h3>
          <p class="content">{{page_about}}</p>
        </div>
   



       <!-- Footer -->
       <div class="row"></div>
<div class="row"></div>
<br/>
<br/>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ">
                <footer style="padding-right:0px;"> {{footer}}</footer>
     
       </div>
       </div>

    </body>
</html>

